<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css"/>
    <link rel="stylesheet" href="/css/style1.css">
    <title>Final Challenge</title>
</head>
<body>
    <div id="main">
        <div id="top-screen">
            <div id="numbers">
                <h1 id="top">100</h1>
                <h1 id="second-top">76</h1>
                <h1 id="second-lowest">33</h1>
                <h1 id="lowest">00</h1>
            </div>
            <h3 id="random-text" style="text-transform: uppercase;"><%=name%> CHOUDHARY <br>
                PORTFOLIO &copy;2022</h3>
        </div>
        <div id="center">
            <div id="nav">
                <h3><%=name%> Choudhary</h3>
                <h3>Currently Frontend <br>
                    Engineer at Sheriyans</h3>
                <h3>Based in Bhopal <br>
                    Madhya Pradesh</h3>
                <h3>Work, About, Contact</h3>
            </div>
            <div id="dev">
                <h1 id="head1">CREATIVE</h1>
                <h1 id="head2">DEVELOPER</h1>
            </div>
            <div id="image-div">
             
                <img id="img" src="<%=val.pic%>" alt="">
            
            </div>
            <div id="name">
                <h1 style="text-transform: uppercase;"><%=name%></h1>
                <h1>CHOUDHARY</h1>
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lettering.js/0.6.1/jquery.lettering.min.js" integrity="sha512-VJ/iYbiu1eJ6yLimfTi65t2R9TFcG5D9X8ZCfbbEFhTfPnKJh8byoKXEawi5ScJZBYL1eiirL1+MczZDx0Tz9Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/textillate/0.4.0/jquery.textillate.min.js" integrity="sha512-0bHMhYsdpiur1bT84kDH4D7cpxFQ9O7uA5yxVAqWC87h552Xt0swX4M+ZlXMKE8oPVRIJ5lAwXWO2UWeDwJJOw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js" integrity="sha512-VEBjfxWUOyzl0bAwh4gdLEaQyDYPvLrZql3pw1ifgb6fhEvZl9iDDehwHZ+dsMzA0Jfww8Xt7COSZuJ/slxc4Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/js/script1.js"></script>
</body>
</html>